include LICENSE
include README.md
include CHANGELOG.md
include pyproject.toml
include MANIFEST.in
include .readthedocs.yaml
graft docs
prune docs/_build
prune tests
prune traces
global-exclude __pycache__ *.py[cod] .DS_Store
